/**=====================
     Form Wizard scss
==========================**/

.basic-wizard {
    .stepper-horizontal {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
        border-bottom: 1px solid $gray-color;
        display: flex;
        justify-content: center;
        gap: 20px;

        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
        }

        .step {
            position: relative;
            @include flex_common_1 ($dis: flex, $align: center);
            gap: 12px;

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:after {
                @include pos($pos: relative, $content: "");
                border-bottom: 1px dashed var(--primary-color);
                height: 1px;
                width: 50px;
                inset: unset;

                @media (max-width: 767.98px) {
                    display: none;
                }
            }

            .step-title {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                white-space: nowrap;
                color: $light-color;
            }

            &.stepper {
                .step-circle {
                    border: 1px dashed var(--primary-color);
                    color: var(--primary-color);
                    font-weight: 600;
                }

                .step-title {
                    color: var(--primary-color);
                    font-weight: 600;
                }
            }

            &:first-child {
                padding-left: 0;

                [dir="rtl"] & {
                    padding-left: unset;
                    padding-right: 0;
                }

                @media (max-width: 767.98px) {
                    padding-right: 0;

                    [dir="rtl"] & {
                        padding-right: unset;
                        padding-left: 0;
                    }
                }
            }

            &:last-child {
                padding-right: 0;

                [dir="rtl"] & {
                    padding-right: unset;
                    padding-left: 0;
                }

                @media (max-width: 767.98px) {
                    padding-left: 0;

                    [dir="rtl"] & {
                        padding-left: unset;
                        padding-right: 0;
                    }
                }
            }

            &:last-child .step-bar-left,
            &:last-child .step-bar-right {
                display: none;
            }

            .step-circle {
                width: calc(48px + (62 - 48) * ((100vw - 320px) / (1920 - 320)));
                height: calc(48px + (62 - 48) * ((100vw - 320px) / (1920 - 320)));
                border-radius: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
                background-color: $white;
                @include flex_common;
                font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 500;
                border: 1px solid $gray-color;
                color: #808B97;
            }

            &.done {
                .step-circle {
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    color: $white;
                    position: relative;

                    &:before {
                        @include pos;
                        top: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
                        left: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
                        background-image: url(@/svg/tick.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        z-index: 0;
                        width: 20px;
                        height: 20px;

                        [dir="rtl"] & {
                            left: unset;
                            right: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
                        }
                    }

                    * {
                        display: none;
                    }
                }

                .step-title {
                    color: var(--primary-color);
                }

                ~.step {
                    .step-circle {
                        border: 1px dashed var(--primary-color);
                        color: var(--primary-color);
                    }

                    .step-title {
                        color: var(--primary-color);
                        font-weight: 600;
                    }
                }
            }

            .step-title,
            .step-optional {
                text-align: center;
            }
        }

    }
}

.service-booking {
    padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;

    ul {
        .booking-list {
            padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
            position: relative;

            &:before {
                @include pos;
                border-left: 1px dashed #808B97;
                opacity: 0.3;
                top: 16px;
                left: 7px;
                height: calc(100% - 16px);

                [dir="rtl"] & {
                    left: unset;
                    right: 7px;
                }
            }

            &:last-child {
                padding: 0;

                &:before {
                    display: none;
                }
            }
        }

        .invalid-feedback {
            position: absolute;
            left: 40px;
            bottom: 30px;

            [dir="rtl"] & {
                left: unset;
                right: 40px;
            }
        }
    }

    h3 {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        line-height: 23px;
        color: $title-color;
    }

    .delivery-location {
        background-color: $white !important;
        border: 1px solid $gray-color !important;
        border-radius: 10px;
        margin-bottom: 0;
        height: 100%;
        overflow: unset;

        .location-header {
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            @include flex_common ($dis: flex, $align: center, $justify: space-between);
            gap: 4px;
            border-bottom: 1px solid $gray-color;

            @media (max-width: 575.98px) {
                flex-direction: column;
                align-items: start;

                [dir="rtl"] & {
                    align-items: end;
                }
            }

            .location-icon {
                border-radius: 100%;
                height: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
                width: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
                background-color: $gray-color;
                border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid $white;
                outline: 1px solid $gray-color;
                @include flex_common;

                img {
                    height: 24px;

                    @media (max-width: 575.98px) {
                        height: 16px;
                    }
                }
            }

            .active-icon {
                border: 1px solid var(--primary-color);
                border-radius: 100%;
                height: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
                width: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
                @include flex_common;

                img {
                    background-color: var(--primary-color);
                    border: 1px solid $white;
                    padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
                    border-radius: 100%;
                    height: calc(38px + (42 - 38) * ((100vw - 320px) / (1920 - 320)));
                    width: calc(38px + (42 - 38) * ((100vw - 320px) / (1920 - 320)));
                    @include flex_common;
                }
            }

            .name {
                text-transform: capitalize;

                h4 {
                    font-weight: 500;
                    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.3;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }

                span {
                    margin-top: 2px;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: #808B97;
                }
            }

            .badge {
                position: relative;
                z-index: 0;
                background-color: transparent !important;
                overflow: hidden;

                &::before {
                    @extend %bg-primary-color;
                    opacity: 0.1;
                }

                @media (max-width: 575.98px) {
                    margin-left: 50px;

                    [dir="rtl"] & {
                        margin-left: unset;
                        margin-right: 50px;
                    }
                }
            }
        }

        .address {
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));

            p {
                font-size: 16px;
                line-height: 1.5;
                height: 48px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }

            .btn-outline {
                border-width: 1px;
                width: max-content;
                padding: 9px 18px;
            }
        }

        .address-bottom-box {
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            border-top: 1px solid #ddd;
            position: relative;
            overflow: unset;

            .action {
                position: relative;
                display: flex;
                align-items: center;
                gap: 13px;
            }

            .btn {
                width: 100%;
                padding-block: 10px;
                font-weight: 500;
                border-radius: 8px;

                &-fill {
                    border: transparent;
                    color: $white;
                    background-color: var(--primary-color);

                    &:hover {
                        background-color: transparent;
                        color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                    }
                }

                &-outline {
                    border: 1px solid var(--primary-color);
                    color: var(--primary-color);
                    background-color: transparent;

                    &:hover {
                        background-color: var(--primary-color);
                        color: $white;
                        border-color: transparent;
                    }
                }
            }

            .radio {
                position: absolute;
                top: 0;
                left: 0;
                @include pseudowh;
                opacity: 0;
                cursor: pointer;

                [dir="rtl"] & {
                    left: unset;
                    right: 0;
                }
            }
        }

        .radio:checked {
            ~button {
                background-color: var(--primary-color);
                color: $white;
            }
        }
    }

    input[type="radio"] {
        &:checked {
            ~.delivery-location {
                .btn-outline {
                    background-color: var(--primary-color);
                    color: $white;
                }
            }
        }
    }

    .add-location {
        color: var(--primary-color);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }

    .booking-data {
        margin-top: -3px;
        width: calc(100% - 16px - calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320))));
        margin-left: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));

        [dir="rtl"] & {
            margin-left: unset;
            margin-right: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        }

        .select-option {
            flex-direction: row;
            background-color: transparent;
            border: none;
            background-color: $white;
            padding: 0 0 calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320))) 0;
            gap: calc(4px + (40 - 4) * ((100vw - 320px) / (1920 - 320)));
            flex-wrap: wrap;

            .form-check {
                border: none;
                padding: 0;
                flex-direction: row;
                align-items: flex-start;

                .form-radio-input {
                    width: 22px;
                    height: 22px;
                    border: none;
                    margin-top: 1px;
                    appearance: none;

                    &:checked {
                        &::before {
                            transform: translate(-50%, -50%) scale(1);
                        }

                        ~label {
                            font-weight: 500;
                            color: rgba($title-color, 0.9) !important;
                        }
                    }

                    &::before {
                        top: 50%;
                        left: 50%;
                        right: unset;
                        transform: translate(-50%, -50%) scale(0);
                    }

                    &::after {
                        @include center(both);
                        right: unset;
                    }
                }
            }
        }

        .text-success {
            font-size: 18px;
        }

        .servicemen-list-item {
            width: max-content;
            min-width: 276px;
            background-color: $section-bg !important;
            border: none !important;
            box-shadow: none !important;

            @media (max-width: 480px) {
                min-width: 188px;
                width: auto;
            }
        }

        .note {
            margin-block: 16px;
        }
    }

    .form-control {
        background-color: $white;
        border-radius: 10px;
        padding: 16px;
        color: $title-color;

        &:hover,
        &:focus {
            color: $title-color;
            background-color: $white;
        }
    }
}

.activity-dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    outline: 1px solid var(--primary-color);
    position: relative;
    z-index: 0;

    &:after {
        @include pos;
        background-color: var(--primary-color);
        height: 8px;
        width: 8px;
        border-radius: 100%;
        @include center(both);
    }
}

.wizard-footer {
    @include flex_common_1 ($dis: flex, $align: center);
    justify-content: end;
    gap: 10px;
    border-top: 1px dashed $gray-color;
    padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320))) calc(15px + (200 - 15)*((100vw - 320px) /(1920 - 320)));

    .btn-outline {
        border-width: 1px;
    }

    .next-btn {
        padding: 12px 20px;
        display: inline-block;
        width: auto;

        @media (max-width:375px) {
            width: 100%;
        }
    }

    button {
        width: max-content;
        padding: 12px 20px;
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        line-height: 1;

        @media (max-width: 575.98px) {
            width: 100%;
        }
    }

    &.service-booking-wizard-footer {
        padding-inline: 30px;
    }

    &.service-booking-footer {
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
}

.date-time-picket-sec {
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $gray-color;
    padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.date-time-picker {
    @include flex_common_1 ($dis: flex, $align: center);
    gap: 12px;

    @media (max-width: 767.98px) {
        flex-wrap: wrap;
    }

    input {
        color: $title-color !important;
    }
}

.input-icon {
    position: absolute;
    top: calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320)));
    left: 16px;
    --Iconsax-Size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    --Iconsax-Color: #808B97;
    z-index: 31;

    [dir="rtl"] & {
        left: unset;
        right: 16px;
    }
}

.edit-option {
    background-color: unset;
    border: none;
    padding: 0;
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 18px;
}

.selected-men {
    background-color: $white;
    padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 10px;
    @include flex_common_1 ($dis: flex, $align: center);
    flex-wrap: wrap;
    gap: 12px;
}