/**=====================
      Footer CSS Start
==========================**/
.page-wrapper {
    .page-body-wrapper {
        footer {
            margin-left: $sidebar-width;
            transition: all 0.3s ease-in-out;
            z-index: 8;
            background-color: $white;
            padding: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
            bottom: 0;
            left: 0;
            position: sticky;
            margin-top: 0;

            @media (max-width: 767px) {
                margin-left: 0;
                width: 100%;
            }

            p {
                color: rgba($dark-color, 0.8);
                line-height: inherit;
                font-size: 14px;

                i {
                    color: $danger-color;
                    margin-left: 5px;
                }
            }

            a {
                font-weight: 600;
            }

            &.footer-starter-kit {
                bottom: -52px;
            }
        }
    }

}

/**=====================
      Footer CSS Ends
==========================**/