<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>enter your android client id</string>
	<key>API_KEY</key>
	<string>enter your api key</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The Perhour</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fixit_user</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Enter your CFBundleURLSchemes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CLIENT_ID</key>
	<string>Enter your client id</string>
	<key>GCM_SENDER_ID</key>
	<string>Enter your GCM_SENDER_ID</string>
	<key>GOOGLE_APP_ID</key>
	<string>Enter your GOOGLE_APP_ID</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME)This app requires access to play music</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME)We need To access your camera to allow you to upload a profile picture,photos from your trips,etc</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Privacy – We need to access your location to allow determine the recommended route to your destination</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Privacy – We need to access your location to allow determine the recommended route to your destination</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME)We need To access your camera to allow you to upload a profile picture,photos from your trips,etc</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME)We need To access your camera to allow you to upload a profile picture,photos from your trips,etc</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>Enter your REVERSED_CLIENT_ID</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
